root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{js,jsx,ts,tsx,json,css,scss,md,html}]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.{png,jpg,jpeg,gif,ico,svg,woff,woff2,eot,ttf}]
trim_trailing_whitespace = false
insert_final_newline = false
